/* Define the top border variable */
.top-border {
  border: 1px solid lighten(#ccc, 5%);
}

header {
  display: grid;
  grid-template-columns: 5% 14% 71%;
  height: auto;
  border: var(--top-border); /* Use the defined variable */
  margin-top: 10px;
}

.app-name {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: auto 10px;
}

.logo {
  display: flex;
  border-right: var(--top-border); /* Use the defined variable */
  border-left: var(--top-border); /* Use the defined variable */
  padding: 5px 0;
  justify-content: center;
}

.logo img {
  height: 100px;
}

.logo span {
  margin: auto 0;
  padding-right: 10px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}

@media (max-width: 825px) {
  header {
    grid-template-columns: 0% 30% 70%;
  }
}
